/*css par Frederic M */

/* typos */

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sansbold';
    src: url('fonts/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-Bold-webfont.woff2') format('woff2'),
         url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* STYLES */
/*ASIDE*/
aside
{

}
/*PUCES*/	
li
{
	font-family: "open_sansregular";
	list-style: none;
}
/*CORPS DE LA PAGE*/	
body
{
	max-width: 827px;
	max-height: 1170px;
}
/* TITRES */
h1
{
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: "open_sansregular";
	color: #47555F;
}
h2
{
	text-transform: uppercase;
	font-family: "droid_sansbold";
	font-size: 0.9em;
	color: #47555F;
}

h3
{
	text-transform: uppercase;
	font-family: "open_sansregular";
	font-size: 0.7em;
	color: #47555F;
}
h4
{
	font-family: "open_sansregular";
	font-size: 0.7em;
	color: #47555F;
}
/* IMAGES */	
img
{
	border-radius: 100px;
	border: #47555F solid 2px;
}
/* SECTION ARTICLE */
article
{
	font-family: "open_sansregular";
	font-size: 0.7em;
	text-align: justify;
	color: color: #47555F;
}
/* TEXTES */
p
{
	font-family: "open_sansregular";
	font-size: 0.6em;
	text-align: justify;
	color: #47555F;
}

/* BLOCS ET CLASSES */
/*__________________*/

/* BLOCS HEADER */

#header
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: auto;
}

#headergauche
{
	background-color: #CEE0FD;
	display: flex;
	width: 30%;
	padding-top: 5%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#headerdroite
{
	padding-top: 5%;
	line-height: 15px;
	padding-left: 25px;
	padding-top: 10px;
	margin-bottom: 5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
/*__________________*/

/* BLOC NAVIGATION */

#navigation

{
	color: white;
	background-color: #47555F;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	display: none;
}

/*__________________*/

/* BLOC GLOBAL BODY*/

#blocpage
{
	display: flex;
	flex-direction: row;
}
/* BLOCS COLONNES */

#colgauche
{
	background-color: #CEE0FD;
	display: flex;
	flex-direction: column;
	width: 30%;
}
#coldroite
{
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 527px;
	padding-left: 25px;
}

/*__________________*/

/* BLOCS ELEMENTS CV */

#loisirs
{
	width: 70%;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	padding: 5%;
	margin-top: 30px;
}

#formation1
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#formation2
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#experience1
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#experience2
{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#experience3
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#photo
{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	
#infos
{
	height: 25%;
	padding-left: 5%;
	display: flex;
	flex-direction: column;
}
.element
{
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}
#recommandations
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#recommandation1
{
	width: 50%;
	display: flex;
	flex-direction: column;
	line-height: 14px;
}
#recommandation2
{
	width: 50%;
	display: flex;
	flex-direction: column;
	line-height: 14px;
}
/*TRAIT SOUS HEADER*/
#demitrait
{
	border-top: 3px solid #CEE0FD;
	width: 15%;
}
/*TRAIT SOUS TITRES RUBRIQUES*/
#traithorizontal1
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#traithorizontal2
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#traithorizontal3
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#titrecv
{
	height: 250px;
	display: inline-flex;
	flex-direction: column;
	align-content: flex-start;
}
/*__________________*/

/*classes*/

/*RAPPROCHEMENT VERTICAL*/
.rapproche
{
	margin-top: 5px;
	line-height: 5px;
}
/*MARGE GAUCHE TITRES RUBRIQUES*/
.titreformation
{	
	margin-left: 2%;
}
/*HAUTEUR TITRES COLONNE GAUCHE*/
.titregauche
{
	width: 100%;
	height: 50px;
}	
/*HAUTEUR RUBRIQUE CONTACT / INFOS*/
#adresse
{
	height: 45px;
}
.telephone
{
	height: 35px;
}
.site
{
	height: 35px;
}
.mail
{
	height: 35px;
}
.skype
{
	height: 35px;
}
#apropos
{
	height: 50%;
}
/*MISE EN MAJUSCULE*/
.maj
{
	text-transform: uppercase;
}
.bloc
{
	width: 10%;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
/*MARGE GAUCHE*/
.margegauche
{
	padding-left: 15px;
	padding-right: 10px;
}
/*MARGE AUTOUR*/
.margeglobale
{
	padding: 15px;
}
/*MISE EN FORME BLOC TEXTE COLONNE DROITE*/
.intitule2
{	
	width: 70%;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
/* TYPO TITRE GAUCHE MAJUSCULE INVERSE */
.inverse
{
	text-transform: uppercase;
	color: #CEE0FD;
	background-color: #47555F;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
/* MISE EN FORME HORIZONTALE*/
.horizontal
{
	display: inline-flex;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
	height: 75px;
	width: 100%;
	margin-bottom: 10px;
}
.horizontal2
{
	display: inline-flex;
	flex-direction: row;
}
/*ESPACE VIDE 15 PIXELS*/
.espace
{
	width: 15px;
}
/* MISE EN COULEUR BLEU CLAIR*/
.bleuclair
{
	color: #CEE0FD;
}

/*------------*/
/* RESPONSIVE */
/*------------*/

@media only screen and (max-device-width: 480px)
{
    
/* typos */

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sansbold';
    src: url('fonts/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-Bold-webfont.woff2') format('woff2'),
         url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* STYLES */

header
{
	position: fixed; 
	margin: auto;
	width: 90%;
}	
nav
{
	position: fixed;
	width: 90%;
	height: 15%;
	margin: auto;
	color: white;
	background-color: #47555F;
	font-size: 0.5em;
}
aside
{

}	
li
{
	font-family: "open_sansregular";
	list-style: none;
}	
body
{
	width: 90%;
	margin: auto;
}

h1
{
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: "open_sansregular";
	color: #47555F;
}
h2
{
	text-transform: uppercase;
	font-family: "droid_sansbold";
	font-size: 0.7em;
	color: #47555F;
}

h3
{
	text-transform: uppercase;
	font-family: "open_sansregular";
	font-size: 0.7em;
	color: #47555F;
}
h4
{
	font-family: "open_sansregular";
	font-size: 0.7em;
	color: #47555F;
}
img
{
	border-radius: 100px;
	border: #47555F solid 2px;
}
article
{
	font-family: "open_sansregular";
	font-size: 1.2em;
	text-align: justify;
	color: color: #47555F;
}
p
{
	font-family: "open_sansregular";
	font-size: 0.8em;
	text-align: justify;
	color: #47555F;
}
article
{
	font-family: "open_sansregular";
	font-size: 0.7em;
	text-align: justify;
	color: #47555F;	
}
/* BLOCS ET CLASSES */
/*__________________*/

/* BLOCS HEADER */

#header
{
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10%;
}

#headergauche
{
	margin: auto;
	width: 100%;
	height: auto;
	padding-top: 8%;
	padding-bottom: 8%;
	background-color: #CEE0FD;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#headerdroite
{
	width: 100%;
	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
/*__________________*/

/* BLOC NAVIGATION */

#navigation

{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
}

/*__________________*/
/* BLOC GLOBAL BODY*/

#blocpage
{
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/* BLOCS COLONNES */

#colgauche
{
	padding-top: 450px;
	width: 100%;
	margin: auto;
	background-color: #CEE0FD;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
#coldroite
{
	width: 100%;
	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
}
/*__________________*/

/* BLOCS ELEMENTS CV */

#loisirs
{
	width: 70%;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

#formation1
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	justify-content: flex-start;
}
#formation2
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
#experience1
{
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
#experience2
{
	width: 90%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
#experience3
{
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
#photo
{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	
#infos
{
	height: auto;
	width: 100%;
	padding-left: 3%;
	padding-bottom: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#recommandations
{
	display: flex;
	flex-direction: column;
}
#recommandation1
{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}
#recommandation2
{
	width: 50%;
	display: flex;
	flex-direction: column;
}
/*TRAIT SOUS HEADER*/
#demitrait
{
	border-top: 3px solid #CEE0FD;
	width: 15%;
}
/*TRAIT SOUS TITRES RUBRIQUES*/
.traithorizontal1
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
.traithorizontal2
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
.traithorizontal3
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#titrecv
{
	height: 250px;
	display: inline-flex;
	flex-direction: column;
	align-content: flex-start;
}
/*__________________*/

/*classes*/

/*RAPPROCHEMENT VERTICAL*/
.rapproche
{
	margin-top: 5px;
}
/*MARGE GAUCHE TITRES RUBRIQUES*/
.titreformation
{	
	margin-left: 10px;
}
/*HAUTEUR TITRES COLONNE GAUCHE*/
.titregauche
{
	width: 100%;
	height: auto;
}	
/*HAUTEUR RUBRIQUE CONTACT / INFOS*/
.adresse
{
	width: 100%;
	margin: auto;
}
.telephone
{
	width: 100%;
	margin: auto;
}
.site
{
	width: 100%;
	margin: auto;
}
.mail
{
	width: 100%;
	margin: auto;
}
.skype
{
	width: 100%;
	margin: auto;
}
#apropos
{
	height: auto;
}
/*MISE EN MAJUSCULE*/
.maj
{
	text-transform: uppercase;
}
.bloc
{
	width: 10%;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
/*MARGE GAUCHE*/
.margegauche
{
	padding-left: 15px;
	padding-right: 10px;
}
/*MARGE AUTOUR*/
.margeglobale
{
	padding: 15px;
}
/*MISE EN FORME BLOC TEXTE COLONNE DROITE*/
.intitule2
{	
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
/* TYPO TITRE GAUCHE MAJUSCULE INVERSE */
.inverse
{
	text-transform: uppercase;
	color: #CEE0FD;
	background-color: #47555F;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}
/* MISE EN FORME HORIZONTALE*/
.horizontal
{
	width: 100%;
	margin: auto;
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}
/*ESPACE VIDE 15 PIXELS*/
.espace
{
	width: 15px;
}
/* MISE EN COULEUR BLEU CLAIR*/
.bleuclair
{
	color: #CEE0FD;
}


}
