/*css par Frederic M */

/* ***** */
/* typos */
/* ***** */

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sansbold';
    src: url('fonts/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-Bold-webfont.woff2') format('woff2'),
         url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ***** */
/* STYLES */
/* ***** */

ul
{
	list-style: none;
	padding-left: 5%;
}
li
{
	font-family: "open_sansregular";
	list-style: none;
	font-size: 0.7em;
	color: #47555F;
}
/*CORPS DE LA PAGE*/	
body
{
	width: 827px;
	height: 1170px;
	margin-right: auto;
	margin-left: auto;
}
/* TITRES */
h1
{
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: "open_sansregular";
	color: #47555F;
}
h2
{
	text-transform: uppercase;
	font-family: "droid_sansbold";
	font-size: 0.9em;
	color: #47555F;
}

h3
{
	text-transform: uppercase;
	font-family: "open_sansregular";
	font-size: 0.7em;
	color: #47555F;
}
h4
{
	font-family: "open_sansregular";
	font-size: 0.7em;
	color: #47555F;
	text-transform: uppercase;
}
/* IMAGES */	
img
{
	border-radius: 100px;
	border: #47555F solid 2px;
}
/* SECTION ARTICLE */
article
{
	font-family: "open_sansregular";
	font-size: 1em;
	text-align: justify;
	color: #47555F;
}
/* TEXTES */
p
{
	font-family: "open_sansregular";
	font-size: 0.7em;
	text-align: justify;
	color: #47555F;
}

/* BLOCS ET CLASSES */
/*__________________*/

/* BLOC HEADER */

#header
{
	padding-top: 2%;
	padding-left: 2%;
	margin-bottom: 10%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
/*__________________*/

/* BLOC GLOBAL BODY*/
/*__________________*/

#blocpage
{
	display: flex;
	flex-direction: row;
}
/*__________________*/

/* BLOCS COLONNES */
/*__________________*/


#colgauche
{
	background-color: #CEE0FD;
	display: flex;
	flex-direction: column;
	width: 30%;
}
#coldroite
{
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 70%;
	padding-left: 25px;
}

/*__________________*/

/* BLOCS ELEMENTS CV */
/*__________________*/

#photo
{
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact
{
	width: 100%;
	height: 25%;
}
#apropos
{
	height: 45%;
}

#infos
{
	padding-right: 5%;
}	

#boxicones
{
	color:#47555F;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5%;
}
#loisirs
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 10%;
}
.icones
{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
 	border: 3px solid #47555F;
 	border-radius: 50%;
    line-height: 100px;
    padding: 2%;
}

#formation1
{
	margin-top: 2%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#formation2
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#experience1
{
	margin-top: 2%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#experience2
{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#experience3
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#recommandations
{
	display: flex;
	flex-direction: row;
	margin-bottom: 5%;
}
#recommandation1
{
	width: 50%;
	line-height: 1px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#recommandation2
{
	width: 50%;
	line-height: 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*TRAIT SOUS HEADER*/
#demitrait
{
	border-top: 3px solid #CEE0FD;
	width: 15%;
}
/*TRAITS SOUS TITRES RUBRIQUES*/
#traithorizontal1
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#traithorizontal2
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#traithorizontal3
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}

/*__________________*/

/*classes*/

/* INFOS CONTACT SANS MARGES */

.bloc
{
	width: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.puce
{
	margin-top: 2%;
	width: 10%;
	color: #CEE0FD;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.element
{
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;	
}

/*MARGE GAUCHE TITRES RUBRIQUES*/
.titreformation
{	
	margin-left: 3%;
}
/*HAUTEUR TITRES COLONNE GAUCHE*/
.titregauche
{
	width: 100%;
	height: 50px;
}	

/*MISE EN MAJUSCULE*/
.maj
{
	text-transform: uppercase;
}

/* AFFICHAGE DATES */
.date
{
	width:25%;
	line-height: 6px;
}
/* AFFICHAGE POSTE */
.poste
{
	width: 100%;
	margin: 0px;
	line-height: 1px;
}
/*MARGE GAUCHE*/
.margegauche
{
	padding-left: 15px;
	padding-right: 10px;
}
/*MARGE AUTOUR*/
.margeglobale
{
	padding: 15px;
}
/*MISE EN FORME BLOC TEXTE COLONNE DROITE*/
.intitule2
{	
	margin: 0px;
	width: 70%;
	padding-left: 5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
/* TYPO TITRE GAUCHE MAJUSCULE INVERSE */
.inverse
{
	width: 100%;
	text-transform: uppercase;
	color: #CEE0FD;
	background-color: #47555F;
	margin: 0px;
	text-align: center;

}
/* MISE EN FORME HORIZONTALE*/
.horizontal
{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 75px;
	width: 100%;
}
.horizontal2
{
	display: inline-flex;
	flex-direction: row;
}
/*ESPACE VIDE 15 PIXELS*/
.espace
{
	width: 15px;
}
/* MISE EN COULEUR BLEU CLAIR*/
.bleuclair
{
	color: #CEE0FD;
}

/*-------------------- */
/* RESPONSIVE PORTABLE */
/*-------------------- */

@media screen and (max-device-width: 480px)

{

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_sansbold';
    src: url('fonts/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-Bold-webfont.woff2') format('woff2'),
         url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ***** */
/* STYLES */
/* ***** */

ul {
	font-size: 1.8em;
	list-style: none;
	padding-left: 5%;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}
li
{
	font-family: "open_sansregular";
	list-style: none;
	color: #47555F;
}
/*CORPS DE LA PAGE*/	
body
{
	width: 827px;
	height: 1170px;
	margin: auto;
}
/* TITRES */
h1
{
	font-size: 2.5em;
	text-transform: uppercase;
	font-family: "open_sansregular";
	color: #47555F;
}
h2
{
	text-transform: uppercase;
	font-family: "droid_sansbold";
	font-size: 2.3em;
	color: #47555F;
}

h3
{
	text-transform: uppercase;
	font-family: "open_sansregular";
	font-size: 2.2em;
	color: #47555F;
}
h4
{
	font-family: "open_sansregular";
	font-size: 2em;
	color: #47555F;
	text-transform: uppercase;
}
/* IMAGES */	
img
{
	border-radius: 100px;
	border: #47555F solid 2px;
}
/* SECTION ARTICLE */
article
{
	font-family: "open_sansregular";
	font-size: 2.5em;
	text-align: justify;
	color: #47555F;
}
/* TEXTES */
p
{
	font-family: "open_sansregular";
	font-size: 2.5em;
	text-align: justify;
	color: #47555F;
}

/* BLOCS ET CLASSES */
/*__________________*/

/* BLOC HEADER */

#header
{
	padding-top: 2%;
	margin-bottom: 5%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
/*__________________*/

/* BLOC GLOBAL BODY*/
/*__________________*/

#blocpage
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 2%;
	margin-right: 2%; 
}
/*__________________*/

/* BLOCS COLONNES */
/*__________________*/


#colgauche
{
	background-color: #CEE0FD;
	display: flex;
	flex-direction: column;
	width: 90%;
	border: auto;
	margin: auto;
}
#coldroite
{
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: auto;
	margin: auto;

}

/*__________________*/

/* BLOCS ELEMENTS CV */
/*__________________*/

#photo
{
	width: 100%;
	height: 20%;
	margin-top: 2%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact
{
	width: 100%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

#infos
{
	width: 100%;
	height: auto;
	padding-left: 2%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}	

#apropos
{
	height: 45%;
}

#boxicones
{
	color:#47555F;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5%;
}
#loisirs
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 10%;
}
.icones
{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
 	border: 3px solid #47555F;
 	border-radius: 50%;
    line-height: 100px;
    padding: 2%;
}

#formation1
{
	margin-top: 2%;
	width: 100%;
	display: flex;
	flex-direction: row;
}
#formation2
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#experience1
{
	margin-top: 2%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#experience2
{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#experience3
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#recommandations
{
	display: flex;
	flex-direction: row;
	margin-bottom: 5%;
}
#recommandation1
{
	width: 50%;
	line-height: 1px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#recommandation2
{
	width: 50%;
	line-height: 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*TRAIT SOUS HEADER*/
#demitrait
{
	border-top: 3px solid #CEE0FD;
	width: 15%;
}
/*TRAITS SOUS TITRES RUBRIQUES*/
#traithorizontal1
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#traithorizontal2
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#traithorizontal3
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}

/*__________________*/

/*classes*/

/* INFOS CONTACT SANS MARGES */

.bloc
{
	width: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.puce
{
	display: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 2%;
	width: 5%;
	color: #CEE0FD;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/*MARGE GAUCHE TITRES RUBRIQUES*/
.titreformation
{	
	margin-left: 3%;
}
/*HAUTEUR TITRES COLONNE GAUCHE*/
.titregauche
{
	width: 100%;
	height: 50px;
}	

/*MISE EN MAJUSCULE*/
.maj
{
	text-transform: uppercase;
}

/* AFFICHAGE DATES */
.date
{

}
/* AFFICHAGE POSTE */
.poste
{
	width: 100%;
	margin: 0px;
}
/*MARGE GAUCHE*/
.margegauche
{
	padding-left: 15px;
	padding-right: 10px;
}
/*MARGE AUTOUR*/
.margeglobale
{
	padding: 15px;
}
/*MISE EN FORME BLOC TEXTE COLONNE DROITE*/
.intitule2
{	
	margin: 0px;
	padding: 0px;
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
/* TYPO TITRE GAUCHE MAJUSCULE INVERSE */
.inverse
{
	width: 100%;
	text-transform: uppercase;
	color: #CEE0FD;
	background-color: #47555F;
	margin: 0px;
	text-align: center;

}
/* MISE EN FORME HORIZONTALE*/
.horizontal
{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding-bottom: 5%;
}
.horizontal2
{
	display: inline-flex;
	flex-direction: row;
}
/*ESPACE VIDE 15 PIXELS*/
.espace
{
	width: 15px;
}
/* MISE EN COULEUR BLEU CLAIR*/
.bleuclair
{
	color: #CEE0FD;
}

}

/*-------------------- */
/* RESPONSIVE TABLETTE */
/*-------------------- */

@media screen and (max-device-width: 768px)

{

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_sansbold';
    src: url('fonts/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-Bold-webfont.woff2') format('woff2'),
         url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ***** */
/* STYLES */
/* ***** */

ul
{
	list-style: none;
	padding-left: 5%;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
	font-size: 1.8em;
}
li
{
	font-family: "open_sansregular";
	list-style: none;
	color: #47555F;
}
/*CORPS DE LA PAGE*/	
body
{
	width: 827px;
	height: 1170px;
	margin: auto;
}
/* TITRES */
h1
{
	font-size: 2em;
	text-transform: uppercase;
	font-family: "open_sansregular";
	color: #47555F;
}
h2
{
	text-transform: uppercase;
	font-family: "droid_sansbold";
	font-size: 1.7em;
	color: #47555F;
}

h3
{
	text-transform: uppercase;
	font-family: "open_sansregular";
	font-size: 1.5em;
	color: #47555F;
}
h4
{
	font-family: "open_sansregular";
	font-size: 1.2em;
	color: #47555F;
	text-transform: uppercase;
}
/* IMAGES */	
img
{
	border-radius: 100px;
	border: #47555F solid 2px;
}
/* SECTION ARTICLE */
article {
	font-family: "open_sansregular";
	font-size: 0.8em;
	text-align: justify;
	color: #47555F;
}
/* TEXTES */
p {
	font-family: "open_sansregular";
	font-size: 1.8em;
	text-align: justify;
	color: #47555F;
}


/* BLOCS ET CLASSES */
/*__________________*/

/* BLOC HEADER */

#header
{
	padding-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
/*__________________*/

/* BLOC GLOBAL BODY*/
/*__________________*/

#blocpage
{
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
/*__________________*/

/* BLOCS COLONNES */
/*__________________*/


#colgauche
{
	background-color: #CEE0FD;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
#coldroite
{
	background-color: white;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;

}

/*__________________*/

/* BLOCS ELEMENTS CV */
/*__________________*/

#photo
{
	width: 100%;
	height: 20%;
	margin-top: 5%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact
{
	width: 100%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

#infos
{
	width: 100%;
	height: auto;
	padding-left: 2%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}	

#apropos
{
	height: 45%;
}

#boxicones
{
	color:#47555F;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5%;
}
#loisirs
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 10%;
}
.icones
{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
 	border: 3px solid #47555F;
 	border-radius: 50%;
    line-height: 100px;
    padding: 2%;
}

#formation1
{
	margin-top: 2%;
	width: 100%;
	display: flex;
	flex-direction: row;
}
#formation2
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#experience1
{
	margin-top: 2%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#experience2
{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#experience3
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#recommandations
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 5%;
}
#recommandation1
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
}
#recommandation2
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*TRAIT SOUS HEADER*/
#demitrait
{
	border-top: 3px solid #CEE0FD;
	width: 15%;
}
/*TRAITS SOUS TITRES RUBRIQUES*/
#traithorizontal1
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#traithorizontal2
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}
#traithorizontal3
{
	border-top: 3px solid #CEE0FD;
	width: 100%;
}

/*__________________*/

/*classes*/

/* INFOS CONTACT SANS MARGES */

.bloc
{
	width: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.puce
{
	display: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 2%;
	width: 5%;
	color: #CEE0FD;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/*MARGE GAUCHE TITRES RUBRIQUES*/
.titreformation
{	
	margin-left: 3%;
}
/*HAUTEUR TITRES COLONNE GAUCHE*/
.titregauche
{
	width: 100%;
	height: 50px;
}	

/*MISE EN MAJUSCULE*/
.maj
{
	text-transform: uppercase;
}

/* AFFICHAGE DATES */
.date
{

}
/* AFFICHAGE POSTE */
.poste
{
	width: 100%;
	margin: 0px;
}
/*MARGE GAUCHE*/
.margegauche
{
	padding-left: 15px;
	padding-right: 10px;
}
/*MARGE AUTOUR*/
.margeglobale
{
	padding: 15px;
}
/*MISE EN FORME BLOC TEXTE COLONNE DROITE*/
.intitule2
{	
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
/* TYPO TITRE GAUCHE MAJUSCULE INVERSE */
.inverse
{
	width: 100%;
	text-transform: uppercase;
	color: #CEE0FD;
	background-color: #47555F;
	margin: 0px;
	text-align: center;

}
/* MISE EN FORME HORIZONTALE*/
.horizontal
{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding-bottom: 5%;
}
.horizontal2
{
	display: inline-flex;
	flex-direction: row;
}
/*ESPACE VIDE 15 PIXELS*/
.espace
{
	width: 15px;
}
/* MISE EN COULEUR BLEU CLAIR*/
.bleuclair
{
	color: #CEE0FD;
}

}

